* text=auto

*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.iss text eol=crlf
*.bat text eol=crlf
*.vbs text eol=crlf
*.sh text eol=lf
*.ui text eol=lf
*.desktop text eol=lf

*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.svg text eol=lf
*.json text eol=lf
